body {
  margin: 0;
  background: #191A1B; /* cinza escuro geral */
  font-family: Arial;
  color: #e5e7eb;
}

.sidebar {
  background: #1F2937;
}


/* 🔥 ocupa tela toda */
.container {
  display: flex;
  height: 100vh;
}

/* MENU */
.menu {
  width: 260px;
  background: #111827; /* ajustado para combinar com dark mode */
  padding: 15px;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

/* título do menu */
.menu h3 {
  margin-top: 0;
  color: #fff;
}

/* BOTÕES */
.menu button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #374151;
  background: #2563EB;
  cursor: pointer;
  color: white;
  border-radius: 6px;
}

.menu button:hover {
  background: #1D4ED8;
}

/* LOG (painel direito) */
.log {
  width: 800px;
  background: #191A1B;
  color: #b1c7f5;
  font-family: Arial;
  padding: 15px;
  border-radius: 8px;
}


/* TERMINAL */
#log {
  width: 800px;
  height: calc(100vh - 60px); 
  background: #191A1B;
  font-family: Arial;
  font-size: 14px;
  color: #e5e7eb;
  padding: 10px;
  overflow-y: auto;
  border-radius: 6px;  
}

.btn-limpar {
  background-color: #e74c3c; /* vermelho principal */
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.btn-limpar:hover {
  background-color: #c0392b; /* vermelho mais escuro no hover */
  transform: scale(1.05);    /* leve aumento ao passar o mouse */
}

.btn-limpar:active {
  background-color: #a93226; /* vermelho ainda mais escuro ao clicar */
  transform: scale(0.95);    /* leve redução ao clicar */
}



.header {
  position: relative;
  display: flex;
  align-items: center;
  background: #1e1e1e;
  color: #fff;
  padding: 10px 15px;
}

/* título central */
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
}

/* banner */
.marquee {
  margin-left: 1200px;
  overflow: hidden;
  white-space: nowrap;
  background: #1e1e1e;
  padding: 5px 10px;
  border-radius: 4px;
  max-width: 45%;
  position: relative;
}

/* efeito mais suave e contínuo */
.marquee span {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll 25s linear infinite;
}

/* movimento mais longo (recorrido maior) */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}